<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="login">
<head>

<!-- Encoding -->
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=11" />

<!-- Title -->
<title th:text="#{'app.title'}"></title>

<!-- Bootstrap: Min css -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

<!-- Hojas de Estilos -->
<link href="../static/css/styleLogin.css" rel="stylesheet"
	type="text/css" />

<!-- Hojan de estilos de material -->
<link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"
	type="text/css" />

</head>
<body flex="33">
	<header layout="row" layout-align="center center"> </header>
	<section role="main" layout="row" layout-align="center center"> <!--  -->
		<div layout="column" layout-align="space-around center">
			<hgroup class="header-login" layout="row" layout-align="center center">
				<h1 th:text="#{'login.header.title'}"></h1>
			</hgroup>
			<form layout="column" layout-align="center center" role="form" th:action="@{/public/login}"
				method="post" id="login-form">

				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />

				<md-input-container class="md-block flex-gt-xs md-input-has-value" layout="column"
					> <label for="input_85"
					th:text="#{login.lbl.usuario}"></label> <input type="text"
					class="ng-pristine ng-untouched ng-valid md-input ng-not-empty"
					id="input_85" aria-invalid="false" style=""
					th:placeholder="#{login.placeholder.usuario}" />
				<div class="md-errors-spacer"></div>
				</md-input-container>

				<md-input-container class="md-block flex-gt-xs md-input-has-value" layout="column"
					> <label for="input_85"
					th:text="#{login.lbl.password}"></label> <input type="password"
					class="ng-pristine ng-untouched ng-valid md-input ng-not-empty"
					id="input_85" aria-invalid="false" style=""
					th:placeholder="#{login.placeholder.password}" />
				<div class="md-errors-spacer"></div>
				</md-input-container>


				<md-button-container class="md-block" layout="column"> <md-button
					class="md-raised md-warn md-button md-default-theme"
					ng-disabled="form.$invalid"
					th:title="#{'login.form.submit.button'}"
					th:text="#{'login.form.submit.button'}"> </md-button> </md-button-container>
			</form>
			<h2 class="error_msg" th:text="${error}" layout="column">Descripción del error en el acceso.</h2>
		</div>
	</section>

	<!-- Cuerpo Principal -->
	<!-- 	<div role="main" layout="column" layout-align="center center"> -->


	<!-- 		<hgroup class="header-login" layout="row" flex="33"> -->
	<!-- 			<h1 th:text="#{'login.header.title'}"></h1> -->
	<!-- 		</hgroup> -->

	<!-- 		<div class="form-login" layout="row" flex="33"> -->


	<!-- 		</div> -->
	<!-- 	</div> -->



	<!-- 	Pop-up de "Loading..." -->
	<!-- 	<img id="loadDisplay" style="display: none;" -->
	<!-- 		src="./static/images/loading.gif" -->
	<!-- 		th:src="@{/static/images/loading.gif}" /> -->

	<div class="designedBy" layout="row">
		<h3>By Java Developers Team</h3>
	</div>
	<!-- Pie de Página -->
	<footer layout="column">

		<img alt="jdxTeam" src="../static/images/jdxTeam.png" />
		<div>&#169; Todos los derechos reservados 2016</div>
	</footer>


	<script src="../static/js/lib/angular.min.js"></script>
	<script src="../static/js/lib/angular-resource.min.js"></script>
	<script src="../static/js/lib/angular-route.min.js"></script>
	<script src="../static/js/lib/angular-cookies.min.js"></script>
	<script src="../static/js/lib/angular-animate.min.js"></script>
	<script src="../static/js/lib/loading-bar.min.js"></script>
	<script src="../static/js/lib/angular-checklist-model.js"></script>
	<script src="../static/js/lib/angular-translate.js"></script>
	<script src="../static/js/lib/angular-ui-router.min.js"></script>
	<script src="../static/js/lib/uiBreadcrumbs.js"></script>

	<!-- Angular Material requires Angular.js Libraries -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

	<!-- Bootstrap extensions ================================================== -->
	<script src="../static/js/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>


	<!-- AngularJS application login factory========================================= -->
	<script src="../static/js/login/factory/LoginFactory.js"
		type="text/javascript"></script>

	<!-- AngularJS application directives ========================================= -->

	<!-- AngularJS application controller ========================================= -->
	<script src="../static/js/login/controller/LoginController.js"
		type="text/javascript"></script>

	<!-- AngularJS application definition ========================================= -->
	<script src="../static/js/login/login.js" type="text/javascript"></script>
</body>
</html>