table {	border-collapse: collapse!important;width: 100%!important;table-layout: fixed;}
thead {	text-align:left!important;/*display: table!important;float: left!important;width: 100%!important;	*/}
thead tr th {text-align:left;align: left;}
thead tr {/*display: table-row!important;width: 100%!important;*/}
tbody {	/*display: block!important;overflow: auto!important; float: left!important;	width: 100%!important;*/ }
tbody tr {/*display: table-row!important; width: 100%!important;*/}
tbody tr td.task {margin-right: 0px;}
/*tbody td {	padding:1px 8px!important;}*/
tbody td.status {	padding:0px 0px!important;}
th, td {/*width: 20%!important; text-align:left !important;	*/}
tr:after{content: ".";visibility: hidden!important;}
/*.row5{height: 141px!important}
.row10{height: 282px!important}
.row15{height: 423px!important}
.row20{height: 564px!important}		*/		

#processStages.w10, #col1 {width:24%!important;}
#processStatus, #col2 {width:23%!important;}
#processDate, #col3{width:20%!important;}
#user, #col4{width:20%!important;}

.actions {text-align:right!important; padding-right:20px!important;}
h1.processManagement {background:url(../images/titProcessManagement.png) no-repeat 0 4px; }

/*th.w33, td.w33 {width: 33%!important; text-align:left !important;	}*/


div.modalmask {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);	
	behavior: url('/Irlanda/resources/css/pie/PIE.htc');
}
.modalbox {
	behavior: url('/Irlanda/resources/css/pie/PIE.htc');
}